[submodule "magisk-ui-kit"]
	path = magisk-ui-kit
	url = https://github.com/magisk317/magisk-ui-kit
[submodule "build-logic"]
	path = build-logic
	url = https://github.com/magisk317/magisk-build-logic
