<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- One-cycle compatibility launchers that forward into the standalone manager package. -->
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.wizard.WelcomeActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.wizard.RequestPermissionPage"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.main.MainActivity"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.main.ApplicationInfoPage"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.main.RecentEventListPage"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.main.HelpPage"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
        <activity-alias
            android:name="io.github.magisk317.mipush.feature.main.ZygiskConfigPage"
            android:exported="false"
            android:targetActivity="com.xiaomi.xmsf.app.compat.ManagerUiRedirectActivity" />
    </application>
</manifest>
