<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.magisk317.mipush.runtime">

    <!-- Push-related permissions -->
    <permission
        android:name="com.xiaomi.xmsf.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.NOTIFICATION_ACTIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.BIND_HTTP_SERVICE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.LOG_PROVIDER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.USE_XMSF_UPLOAD"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.USE_XMSF_TRAFFIC"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.READ_XMSF_LOG"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.CHANNEL"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.push.permission.PUSH_SUPPORT"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xiaomi.xmsf.permission.UPDATE_KA_CONFIG"
        android:protectionLevel="signature" />

    <application>
        <meta-data
            android:name="pushSupportFlag"
            android:value="4" />
        <meta-data
            android:name="support_ka"
            android:value="true" />
        <meta-data
            android:name="com.xiaomi.xms.support_kit"
            android:value="true" />

        <!-- Legacy Activities -->
        <activity
            android:name="com.xiaomi.xmsf.ShareLogActivity"
            android:exported="true" />
        <activity
            android:name="com.xiaomi.xmsf.RemoveDozeActivity"
            android:exported="true" />

        <!-- Services -->
        <service
            android:name="com.xiaomi.xmsf.push.service.CompatXMPushService"
            android:foregroundServiceType="remoteMessaging"
            android:exported="true" />

        <service
            android:name="com.xiaomi.xmsf.push.service.HttpService"
            android:permission="com.xiaomi.xmsf.permission.BIND_HTTP_SERVICE"
            android:exported="true" />
        <service
            android:name="com.xiaomi.xmsf.push.service.StatService"
            android:exported="true" />
        <service
            android:name="com.xiaomi.xmsf.push.service.notificationcollection.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.xiaomi.xmsf.services.MainProcBridgeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.xiaomi.xmsf.services.ServiceBoxService"
            android:exported="true"
            android:process=":services" />
        <service
            android:name="com.xiaomi.xmsf.services.keepalive.strategy.KeepAliveConfigService"
            android:permission="com.xiaomi.xmsf.permission.UPDATE_KA_CONFIG"
            android:exported="true"
            android:process=":services">
            <intent-filter>
                <action android:name="com.xiaomi.xmsf.service.UPDATE_KA_CONFIG" />
            </intent-filter>
        </service>
        <service
            android:name="com.xiaomi.xmsf.sync.BindMiCloudPushService"
            android:permission="com.xiaomi.permission.CLOUD_MANAGER"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.xmsf.sync.BIND_PUSH_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.xiaomi.xmsf.push.service.MiPushFacadeService"
            android:foregroundServiceType="remoteMessaging"
            android:exported="true" />
        <service
            android:name="com.xiaomi.xmsf.push.service.XMPushService"
            android:foregroundServiceType="remoteMessaging"
            android:exported="true" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:foregroundServiceType="remoteMessaging"
            android:exported="true" />

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.xiaomi.xmsf.push.service.MiuiPushActivateService"
            android:exported="true" />

        <service android:name="com.xiaomi.push.sdk.MyPushMessageHandler" />

        <service
                android:name="io.github.magisk317.mipush.platform.activity.DetectionService"
                android:exported="true"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/detection_service_config" />
        </service>

        <!-- Providers -->
        <provider
            android:name="com.xiaomi.xmsf.utils.ModuleLogProvider"
            android:authorities="com.xiaomi.xmsf.module.log"
            android:exported="true"
            android:grantUriPermissions="false" />
        <provider
            android:name="com.xiaomi.push.providers.TrafficProvider"
            android:authorities="com.xiaomi.push.providers.TrafficProvider"
            android:permission="com.xiaomi.xmsf.permission.USE_XMSF_TRAFFIC"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.xmsf.provider.MiCloudSettingsProvider"
            android:authorities="com.xiaomi.xmsf.provider.MiCloudSettingsProvider"
            android:writePermission="com.xiaomi.permission.CLOUD_MANAGER"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.xmsf.pushcontrol.PushControlProvider"
            android:authorities="com.xiaomi.xmsf.pushcontrol.PushControlProvider"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.xmsf.provider.ChannelProvider"
            android:authorities="com.xiaomi.xmsf.provider.CHANNEL"
            android:permission="com.xiaomi.xmsf.permission.CHANNEL"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.push.provider.PushSupportProvider"
            android:authorities="com.xiaomi.push.provider.PUSH_SUPPORT"
            android:permission="com.xiaomi.push.permission.PUSH_SUPPORT"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.push.provider.PushCommonProvider"
            android:authorities="com.xiaomi.push.provider.PUSH_COMMON"
            android:exported="true" />
        <provider
            android:name="com.xiaomi.xmsf.provider.PushProfileIdProvider"
            android:authorities="com.xiaomi.push.provider.profile"
            android:exported="true" />

        <!-- Receivers -->
        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.MiPushPingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.PkgUninstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.MiuiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.AccountChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.NotificationEventReceiver"
            android:exported="true"
            android:permission="com.xiaomi.xmsf.permission.NOTIFICATION_ACTIVE">
            <intent-filter>
                <action android:name="com.xiaomi.xmsf.push.NOTIFICATION_ACTIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.xmsf.push.service.receivers.XMSFUploadReceiver"
            android:exported="true"
            android:permission="com.xiaomi.xmsf.permission.USE_XMSF_UPLOAD">
            <intent-filter>
                <action android:name="com.xiaomi.xmsf.push.XMSF_UPLOAD_ACTIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.xmsf.pushprocess.PushInnerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.xmsf.inner.PUSH_MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.SelfUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.xiaomi.push.revival.NotificationsRevivalForSelfUpdated" />

    </application>
</manifest>
